html,
body {
  margin: 0;
  font-family: 'Mitr', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  Background-color: #6e5c62;
  color: #fafaff;

  display: flex;
  flex-direction: column;
  align-items: center;


  width: 100vw;
  height: 100vh;

  box-sizing: border-box;
}